.App {
  font-family: sans-serif;
  max-width: 500px;
  margin: auto;
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 10px;
}

input {
  margin-top: 5px;
  padding: 8px;
}

button {
  margin-top: 15px;
  padding: 10px;
  background-color: #495e57;
  color: white;
  border: none;
  cursor: pointer;
}

.error {
  color: red;
  font-size: 0.8em;
}
